[mysqld]
# 开启二进制日志
log-bin=mysql-bin

# 指定binglog的格式为mixed（混合模式），还支持STATEMENT (基于语句的复制)、ROW (基于行的复制--默认)
binlog_format=mixed

# 指定服务id
server-id = 3307

# 主键自动递增的步长
auto_increment_increment=2

#主键自动递增的起始值
auto_increment_offset=2

#回放的数据是否记录二进制文件，开启了以后，当前节点的子节点也会进行数据更新
log-slave-updates

# 事务提交几次以后，同步二进制日志文件，1：效率最低，安全性最高，0：不主动同步，由操作系统决定，cache满了同步等情况，容易丢数据
sync_binlog=1